* {
  margin: 0;
  padding: 0;
}

#main-container {
  border: solid 2px red;
}

#header {
  border: solid 2px blue;
}

#side-nav {
  border: 2px solid green;
}

#section {
  border: 2px solid slateblue;
}

img {
  border-radius: 50% 50%;
  height: 3rem;
  width: 3rem;
}

li {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
}

.teammate {
  display: flex;
  align-items: center;
}

.project,
#announcements,
#team {
  border: 1px solid black;
  border-radius: 5px 5px;
}
